<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rm urdf file -->
    <xacro:include filename="$(find actual_rm_description)/urdf/rm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rm.ros2_control.xacro" />


    <xacro:rm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
